@import "tailwindcss";

@theme {
  --color-primary: #111111;
  --color-gold: #C8A97E;
  --color-beige: #F5F0E8;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
